$font-family:'Roboto', sans-serif;
$title-font-size:32px;
$heading-font-size:22px;
$body-font-size:14px;
//$nav-font-size:16px;

body{
    font-family: $font-family;
}
////////////////////////////////nav section
.navbar{
	font-size: $body-font-size;
	background-color: white;
	-webkit-box-shadow: 0 8px 6px -6px rgb(211, 210, 210);
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px rgb(211, 211, 211);

	padding: 0 80px;
	svg{
		width: 40rem;
		border: none;
	}
	form{
		input{
			font-size: $body-font-size;
			border-radius: 10px;
		}
		
	}
	button{
		background-color: white;
		border-radius: 20px;
		padding: 5px;
	}
}
//////////////////////////////section-1//////////
.exp-head{
	padding-top: 80px;
	padding-left: 80px;
	padding-right: 80px;

	h4{
		font-size: $body-font-size;
		color: #484848;
		
	}
	h1{
		font-size: $title-font-size;
	}
}
.Experience{
	padding: 0px 80px ;
	padding-top: 20px;
	button{
		font-size: $body-font-size;
		background-color: white;
		border:1px solid rgb(176, 176,176) ;
		border-radius: 18px;
		margin-left: 5px;
		
	}
}

.review{
	font-size: $body-font-size;
	padding: 0px 80px;


}

///////////////////////section 2///////////////
.Exp-gallery{
	padding: 0px 80px;
	h2{
		font-size: $heading-font-size;
		font-weight: 600;
	}
}
.price-tag{
	margin-top: -15px;
}
.ex-1 {
    height:250px;
    width: 200px;
    border-radius: 12px;
    background-image: url('/images/exp-page/all21.jpg');
    background-repeat:no-repeat;
    
}

.ex-1:hover {
	
    background-image: url('/images/exp-page/all1.jpg');
   
}


.ex-2 {
    height:250px;
    width: 200px;
        border-radius: 12px;
    background-image: url('/images/exp-page/all.jpg');
    background-repeat:no-repeat;
   
}

.ex-2:hover {
    background-image: url('/images/exp-page/all18.jpg');
   
}


.ex-3 {
    height:250px;
    width: 200px;
        border-radius: 12px;
    background-image: url('/images/exp-page/all8.jpg');
    background-repeat:no-repeat;
   
}

.ex-3:hover {
    background-image: url('/images/exp-page/all16.jpeg');
   
}
.ex-4 {
    height:250px;
    width: 200px;
        border-radius: 12px;
    background-image: url('/images/exp-page/all11.jpg');
    background-repeat:no-repeat;
   
}

.ex-4:hover {
    background-image: url('/images/exp-page/all25.jpg');
   
}
.ex-5 {
    height:250px;
    width: 200px;
        border-radius: 12px;
    background-image: url('/images/exp-page/all25.jpg');
    background-repeat:no-repeat;
   
}

.ex-5:hover {
    background-image: url('/images/exp-page/all11.jpg');
   
}
.ex-6 {
    height:250px;
    width: 200px;
        border-radius: 12px;
    background-image: url('/images/exp-page/all6.jpg');
    background-repeat:no-repeat;
   
}

.ex-6:hover {
    background-image: url('/images/exp-page/all23.jpeg');
   
}
.ex-7 {
    height:250px;
    width: 200px;
        border-radius: 12px;
    background-image: url('/images/exp-page/all5.jpeg');
    background-repeat:no-repeat;
   
}

.ex-7:hover {
    background-image: url('/images/exp-page/all12.jpeg');
   
}
.ex-8 {
    height:250px;
    width: 200px;
        border-radius: 12px;
    background-image: url('/images/exp-page/all14.jpeg');
    background-repeat:no-repeat;
   
}

.ex-8:hover {
    background-image: url('/images/exp-page/all4.jpeg');
   
}
.ex-9 {
    height:250px;
    width: 200px;
        border-radius: 12px;
    background-image: url('/images/exp-page/all9.jpeg');
    background-repeat:no-repeat;
   
}

.ex-9:hover {
    background-image: url('/images/exp-page/all13.jpeg');
   
}

.ex-10 {
    height:250px;
    width: 200px;
	border-radius: 12px;
    background-image: url('/images/exp-page/all2.jpg');
    background-repeat:no-repeat;
   
}

.ex-10:hover {
    background-image: url('/images/exp-page/all3.jpg');
   
}
///////////////////////section 3/////////////
.exp-quality{
	background-color: rgb(247, 247, 247) ;
	
	padding: 100px 80px;
}
#quality{
	font-size: $heading-font-size;
}

.exp-text{
	font-size: $body-font-size;
}

//////////////////section 4/////////////
.carousel {
	
	//margin: 10px auto;
	//margin: 50px auto;
	//padding: 0 20px;
	
	//padding: 0 70px;
}
.carousel .carousel-item {
	//min-height: 330px;
	//text-align: center;
	overflow: hidden;
}

.carousel .carousel-item img {	
	max-width: 100%;
	max-height: 100%;
	//śdisplay: inline-block;
	//position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.carousel .carousel-item h4 {
	font-size: 18px;
	//margin: 10px 0;
}
.carousel-control-prev, .carousel-control-next {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background: none;
	margin: auto 0;
	border: 2px solid black;
	// background: rgba(0, 0, 0, 0.2);
}

.carousel-control-prev{
	position: absolute;
	top: -29.8rem;
	left: 65rem;
}
.carousel-control-next{
	position: absolute;
	top: -29.8rem;
	right: 4rem;
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 30px;
	position: absolute;
	top: 50%;
	display: inline-block;
	margin: -16px 0 0 0;
	z-index: 5;
	left: 0;
	right: 0;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: none;
	font-weight: bold;
}
.carousel-control-prev i {
	margin-left: -3px;
}
.carousel-control-next i {
	margin-right: -3px;
}


.Online{
	padding: 0px 80px;
	h2{
		font-size: $heading-font-size;
	}
}

.video-fluid{
	width: 12rem;
	height: 22rem;
	//overflow: hidden;
	//border-radius: 40px;
	//position: absolute;
    
    
	
}


.img-thumb{
	// position: relative;
	img{
		position: absolute;
		top: 3.5rem;
		width: 12rem;
	    height: 19rem;
	}
	p{
		position: absolute;
		top: 24.5rem;
	}
}
// .carousel-control-prev,.carousel-control-next{
// 	margin-top: 21.5rem;
// }
// #on-text{
// 	margin-top: -15rem;
// }
// #inro-img{
// 	margin-bottom: 5rem;
// }

////modal
.exp-modal{
	margin-top: 13.5rem;
	margin-left: -55rem;
	
}

.language-modal{
	
	margin-top: 13.5rem;
	margin-left: -15rem;
}
.time{
	margin-top: 13.5rem;
	margin-left: -35rem;
}


.modal-dialog{
	width: 20rem;
}


////////////////////////////////////////////section footer
footer{
    background-color: #F7F7F7;
    div{
        padding: 0 80px;
    }
    
}
#foo-title{
    font-size: 12px;
    font-weight: bold;
}

#foo-content{
    font-size: $body-font-size;
}
.copy-text{
    li{
        font-size: $body-font-size;
        display: inline;

    }
}