body{
    overflow-x: hidden;
}
section{
    padding: 0 80px;
}
i{
    color: black;
    padding: 5px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    
}
/////////////////////////section-1/////////////////
/////////////////////////section-2/////////////////
/////////////////////////section-3/////////////////
/////////////////////////section-4/////////////////
/////////////////////////section-5/////////////////
/////////////////////////section-6/////////////////
/////////////////////////section-7/////////////////
/////////////////////////section-8/////////////////
.btn-form{
    color: white;
    background-color: #222222;
    border: none;
    padding: 10px;
    border-radius: 20px;
}
.controls-top{
    position: absolute;
    top: -3rem;
    right: 1rem;
    bottom: 1rem;
}

.landing{
    img{
        // width: min-content;
         width: 85rem;
        height: 34rem;
        
    }
    div{
        position: absolute;
        top: 10rem;
        left: 4rem;
        color: white;

        button{
            margin-top: 1rem;
            padding: 0.5rem;
            border: none;
            border-radius: 8px;
            color: white;
            background-color:  #E61E4D;
        }
    }
}

.chapter {
    p{
        a{
            color: black;
        }
    }
}

.carousel-caption{
  
    position: absolute;
    top: 4rem;
   

    
}
.carousel-indicators{
    position: absolute;
   
    top: 22rem;

   
}

.carousel-control-prev-icon{
    margin-left: -9rem;
  
    padding: 1rem;
}

// #carousel-img{
//     border-radius: 12px;
// }
.caption-con{
    margin-left: -2rem;
    background-color: rgba(0, 0, 0, 0.055);
}

.host-guest{
    img{
        height: 30rem;
        border-radius: 12px;
    }
    div{
        color: white;
       position: absolute;
       margin-top: -22rem;
       margin-left: 5rem;

       button{
        margin-top: 1rem;
        padding: 0.5rem;
        border: none;
        border-radius: 8px;
        color: white;
        background-color:  #E61E4D;
       }
    }
}

.slide-box{
    div{
        img{
            width: 22rem;
        }
    }
    
}
.card{
    border: none;
    img{
        height: 13rem;
        border-radius: 5px;
    }
}
.support{
    
    p{
        padding-top: 2rem;
    }
    a{
        padding-top: 2rem;
    }
}
.host-two{
    img{
        height: 35rem;
        border-radius: 13px;
    }
    div{
        color: white;
        position: absolute;
        margin-top: -22rem;
        margin-left: 5rem;
        

        button{
            margin-top: 1rem;
            padding: 0.5rem;
            border: none;
            border-radius: 8px;
            color: white;
            background-color:  #E61E4D;
           }
    }
}

////////////////////////////////////////////section footer
.footer{
    padding: 0 80px;
    
}
#foo-title{
    font-size: 12px;
    font-weight: bold;
}

#foo-content{
    font-size: $body-font-size;
}
.copy-text{
    li{
        font-size: $body-font-size;
        display: inline;

    }
}