.main-head{
    position: relative;
    //padding-left: 80px;
    h1{
        position: absolute;
        top:-23rem ;
        
    }
    p{
        position: absolute;
        top: -15rem;
    }
}

section,footer{
    padding: 0 80px;
}

.video-fluid{
	width: 12rem;
	height: 22rem;
}
  
i{
    color: black;
    width: 2rem;
    height: 2rem;
    border: 2px solid black;
    border-radius: 50%;
    margin-top: -28rem;
    padding-top: 5px;
}
.carousel-control-prev{
    left: 60rem;
}
.cover{
    border-radius: 10px;
    border:2px solid black;
    height: fit-content;
}
.hours{
    width: 10rem;
    height: 10rem;
}

.new-img{
    position: relative;
    img{
        width: 588.5px;
        height: 332px;
       border-radius: 12px;
    }
    div{
       position: absolute;
       top: 24px;
       color: white;
       padding-left: 24px;
    }
    
}